<%content_for :title do %>
	Home
<% end %>
<div>

	<% if user_signed_in? %>
		<% @timeline.each do |post| %>
			<%= render 'layouts/timeline_post', post: post%>
		<% end %>
		<%= will_paginate @timeline %>
	<% else %>

		<div class="center jumbotron">
			<h1>Welcome to an ersatz Facebook</h1>
			<p>To fully utilize this service you will need to <%= link_to "Login", login_path %> or <%= link_to "Register", new_user_registration_path %></p>
			<p><%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %></p>
		</div>

	<% end %>
</div>
