<%= will_paginate %>
	<% @users.each do |user| %>
		<div class="user row well" >
			<h4><%= link_to(user.name, user_path(user)) %></h4> 
			<% status = friendship_status(user) %>
			<% if status == :not_friend %> 
				<%= render 'users/shared/friend_request', user: user %>
			<% elsif status == :awaiting%>
				<div class="awaiting">
					<p>
						<%= render 'layouts/confirm_request', friendship: current_user.find_friendship(user) %>
						<%= render 'layouts/decline_request', friendship: current_user.find_friendship(user) %>	
					</p>
				</div>
			<% elsif status == :requested%>
				<div class="requested">
					<p class="text-muted">Friend Request Sent</p>
				</div>
			<% elsif status == :friend%>
				<div class="friends">
					<p class="text-info">Currently Friends</p>
				</div>
			<% end %>
		</div>	
	<%end %>
<%= will_paginate %>
