<h1>Edit your post:</h1>

<%= form_for @post do |f| %>
	<%= f.label :body %>
	<br>
	<%= f.text_area :body %>
	<br>
    <%= f.label :picture %>
    <br>
    <%= f.file_field :picture%>

	<br>	<%= f.submit "Save Changes", class: "btn btn-primary" %>
<% end %>