<div class="row timeline-post">

<h6><span class="profile-picture"><%= image_tag post.user.profile_picture.url(:thumb) %></span>

<%= link_to(post.user.name.humanize, user_path(post.user)) %></h6>
	<div class="post-body">
		<%= post.body %>
		<% if post.picture_file_name %>
			<%= image_tag(post.picture.url(:thumb))%>
		<% end %>

	</div>
 	<%= render 'layouts/likes', object: post %>
 	<div class="comments-info">
		<%= pluralize(post.comments.count, "Comment")%>
		<%= link_to "Comment", user_post_path(post.user, post) %>
	</div>
	<p class="view-post">
		<%= link_to "View Post", user_post_path(post.user, post) %>
	</p>
</div>
